// Import page-specific CSS files here.
@import "home";

.subtitle-index {
  margin: 20px auto;
  margin-top: 60px;
  text-align: center;
  background:white;
  color: #233142;
  font-size:56px;
  padding:10px 10px;
  width: 550px;
}

