<div id="header" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1453825012366-3738046cb6c7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ff64e0eec4f3a05866458ad6e4878297&auto=format&fit=crop&w=1489&q=80');">
</div>
