<section class="user">
  <div class="user_options-container">
    <div class="user_options-text">

      <!-- If user wanst to sign up -->
      <div class="user_options-unregistered">
        <h2 class="user_unregistered-title">Don't have an account?</h2>
        <p class="user_unregistered-text">Don't worry! You can still exbeerience Bar Wars in Copenhagen:</p>
        <button class="user_unregistered-signup" id="signup-button">Sign up</button>
      </div>
       <!-- If user already has an account -->
      <div class="user_options-registered">
        <h2 class="user_registered-title">Have an account?</h2>
        <p class="user_registered-text">Don't worry! You can still exbeerience Bar Wars in Copenhagen:</p>
        <button class="user_registered-login" id="login-button">Login</button>
      </div>
    </div>

    <!-- Login form -->
    <div class="user_options-forms" id="user_options-forms">
      <div class="user_forms-login" >
        <h2 class="forms_title sign-in">Login</h2>
       <form class="forms_form" id="new_user" novalidate="novalidate" action="/users/sign_in" accept-charset="UTF-8" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="email" placeholder="Email" class="forms_field-input" required autofocus name="user[email]" id="user_email"/>
            </div>
            <div class="forms_field">
              <input type="password" placeholder="Password" class="forms_field-input" name="user[password]" id="user_password" required />
            </div>
          </fieldset>
          <div class="forms_buttons">
            <button type="button" class="forms_buttons-forgot">Forgot password?</button>
            <input type="submit" value="Log In" class="forms_buttons-action">
          </div>
        </form>
      </div>

      <!-- Sign up form -->
      <div class="user_forms-signup" id="new_user" novalidate="novalidate" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post">
        <h2 class="forms_title">Sign Up</h2>
        <form class="forms_form">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="text" placeholder="Full Name" class="forms_field-input" required name="user[full_name]" id="user_full_name"/>
            </div>
            <div class="forms_field">
              <input type="email" placeholder="Email" class="forms_field-input" name="user[email]" id="user_email" required />
            </div>
            <div class="forms_field">
              <input type="password" placeholder="Password" class="forms_field-input" required name="user[password]" id="user_password"/>
            </div>
            <div class="forms_field">
              <input type="password" placeholder="Confirm password" aria-required="true" class="forms_field-input" required name="user[password_confirmation]" id="user_password_confirmation"/>
            </div>
          </fieldset>
          <div class="forms_buttons">
            <input type="submit" value="Sign up" class="forms_buttons-action" name="commit">
          </div>
        </form>
      </div>

    </div> <!-- Closing forms -->
  </div> <!-- Closing container -->
</section>
