<div class="main">
    <div id="btn-toggle" class="btn btn-primary">Show / Hide Filters</div>
    <div class="row main-row">
      <div class="col-4 col-menu">
        <!-- This is the map -->
        <div class="menu-wrap">
          <div class="menu">
            <h6 class="filter-title">Filters</h6>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
              </div>
              <div class="form-control">Filter 1</div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
              </div>
              <div class="form-control">Filter 2</div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
              </div>
              <div class="form-control">Filter 3</div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
              </div>
              <div class="form-control">(Those filters don't work, it's just a pretext to have a credible interface)</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-8 col-cards">
        <div class="row row-cards">
          <div class="col-6 col-card">
            <div class="col-card__content">
              <div class="card">
                <img class="card-img-top" src="https://placeimg.com/300/100/any" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">No Jquery</h5>
                  <p class="card-text">It's only pure Javascript.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-card">
            <div class="col-card__content">
              <div class="card">
                <img class="card-img-top" src="https://placeimg.com/300/100/tech" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">CSS Animations</h5>
                  <p class="card-text">it uses CSS animations</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-card">
            <div class="col-card__content">
              <div class="card">
                <img class="card-img-top" src="https://placeimg.com/300/100/animals" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Just an idea</h5>
                  <p class="card-text">This is an exemple. It needs to be improved if you want to use it!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-card">
            <div class="col-card__content">
              <div class="card">
                <img class="card-img-top" src="https://placeimg.com/300/100/architecture" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Some issues</h5>
                  <p class="card-text">If you scroll while it's moving, you'll see an issue. There are probably more... I won't fix it but you can try ;)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-card">
            <div class="col-card__content">
              <div class="card">
                <img class="card-img-top" src="https://placeimg.com/300/100/nature" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title 4</h5>
                  <p class="card-text">This is a long paragraph. Write whatever you want!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-card">
            <div class="col-card__content">
              <div class="card">
                <img class="card-img-top" src="https://placeimg.com/300/100/people" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title 5</h5>
                  <p class="card-text">This is a long paragraph. Write whatever you want!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
