<div id="mullet-wrapper" class="">
  <%= image_tag "mullet.png", alt: "alttext", id: "mullet" %>
  <%= image_tag "1883.png", alt: "alttext", id: "red-beer1" %>
  <%= image_tag "1883.png", alt: "alttext", id: "red-beer2" %>
</div>
