<div id="header">
  <div class="center text-center">
   <div class="banner">
     <h1 class="">Bar Wars</h1>
   </div>
   <div class="subtitle">
     <h4>Ex<span class="beer-text glow">beer</span>ience Copenhagen</h4>
     <br>
     <h5>Where do you want to go today?</h5>
   </div>
</div>
<%= render 'shared/homepage-form' %>
</div>



<%= javascript_pack_tag 'current_location' %>
