<head>
  <meta http-equiv="refresh" content="2;url=http://localhost:3000/deals">
</head>

<div class="loading-wrapper text-center">
  <div class="container loading">
    <img class="beer-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Twemoji_1f37a.svg/2000px-Twemoji_1f37a.svg.png" alt="" width="150px">
    <div class="line">
      <div class="inner"></div>
    </div>
    <h4>Dealicious</h4>
  </div>
</div>
