<div class="container">
    <h1 class="subtitle-index">Todays deals near you</h1>

    <!-- Filter toggle button -->
    <%= link_to "#" do %>
    <div class="filter-button-wrapper sticky-top">
      <div id="filter-button" class="filter text-center">
        <div class="options-icon">
          <div class="line-container">
            <div class="filter-line"></div>
            <div class="circle"></div>
          </div>
          <div class="line-container">
            <div class="filter-line"></div>
            <div class="circle"></div>
          </div>
          <div class="line-container">
            <div class="filter-line"></div>
            <div class="circle"></div>
          </div>
        </div>
        <p>Filter</p>
      </div>
      </div>
    <% end %>

    <!-- Filters box-->
    <%= render 'deals/filter-box' %>


  </div> <!-- Closing header container -->
  <!-- Cards -->
  <div class="deal-wrapper">
    <div class="container text-center">
      <div id="deals-list">
        <%= render partial: "deals/list", locals: { deals: @deals, current_location: @current_location} %>
      </div>
    </div> <!-- Closing card container -->
  </div> <!-- Closing wrapper -->

  <!-- Back to top button -->
  <%= link_to "#", id: "return-to-top" do %>
    <i class="fas fa-chevron-up"></i>
  <% end %>
