<h1>This is a deal showpage</h1>


   <form class="form-horizontal form-pricing" role="form">
    <div class="price-slider">
      <h4 class="great">Amount</h4>
      <span>Minimum $10 is required</span>
      <div class="col-sm-12">
        <div id="slider"></div>
      </div>
    </div>
    <div class="price-slider">
      <h4 class="great">Duration</h4>
      <span>Minimum 1 day is required</span>
      <div class="col-sm-12">
        <div id="slider2"></div>
      </div>
    </div>
  </form>
