<div class="showpage-wrapper">
  <div class="deal-information">
    <div class="picture-banner" style="background-image: url(<%= @deal.bar.photo %>)">
      <div class="deal-bar-name"><%= @deal.bar.name %></div>
    </div>
    <h2 class="deal-number">Deal #<%= @deal.id %></h2>
    <div class="countdown-box">Hey</div>
  </div>
</div>
