.deal-wrapper {
  padding-top: 40px;
  margin-top: 20px;
  width: 100%;
  height: 100vh;
  background-color: rgba(250,250,250,1);
}

.deal-info {
  position: relative;
  background-color: red;
  width: 325px;
  height: 250px;
}

.deal-bg-img {
  border: 8px solid white;
  box-shadow: 0 0 5px rgba(150,150,150,1);
  margin: 20px 10px;
  display: inline-block;
  border-radius: 4px;
  height: 250px;
  width: 325px;
  background-repeat: no-repeat;
}

.deal-info .bar-name{
  background-color: rgba(0,0,0,0.6);
  text-transform: uppercase;
  vertical-align: middle;
  padding: 0px 5px;
  padding-top: 15px;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
  min-width: 50%;
  max-width: 80%;
  color: white;
  border: 3px solid white;
}

.stats {
  text-align: center;
  position: absolute;
  left: -12px;
  bottom: -40px;
  box-shadow: 0px 1px 5px #233142;
  background-color: white;
  height: 80px;
  width: 335px;
  border-radius: 10px;
  margin: 0 auto;
}
.stats ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  margin-left: 20px;
  height: 100%;
}

.heading {
  color: #455d7a;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 2px;
}

.footing {
  color: rgba(100,100,100,0.8);
  font-size: 60px;
  font-weight: 50;
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}

#button-link {
  text-decoration: none;
}

.type-icon {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 5px;
  left: 10px;
  transition: 0.4s ease;
}

.like-icon:hover {
  color: rgba(200,200,200,0.9);
}

#bar-button {
  line-height: 0px;
  position: relative;
  margin: 0 auto;
  padding: 5px 0px;
  text-align: center;
  border: 3px solid #ffe030;
  background: rgba(35, 49, 66, 0.9);
  color: white;
  font-size: 22px;
  border-radius: 50px;
  top: -30px;
  .deal-price {
    color: white;
  }
  .deal-heading {
    text-transform: uppercase;
    margin: 8px;
    color: #ffe030;
  }
  .deal-footing {
    color: rgba(240,240,240,1);
    font-size: 12px;
    padding-bottom: 5px;
  }
}

a.deal-bar-button:hover {
  text-decoration: none;
}

.deal-bar-button {
  transition: all 0.1s ease-in-out;
}

.deal-bar-button:hover #bar-button {
  transform: scale(1.03) perspective(1px);
}

