// Form design

.form-post {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

.btn {
  border-radius: 0px;
}

// Checkboxes design
.category-choices {
  transition: 0s;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  transition: 0s;
  text-transform: uppercase;
  border: 2px solid white;
  opacity: 0.8;
  cursor: pointer;
  color: white;
  background: #233142;
  padding: 5px 5px;
  opacity: 1;
  width: 135px;
  text-align: center;
  &:hover {
    border: 2px solid rgba(255,255,255,1);
    background: rgba(255,255,255,1);
  }
  &.active {
    text-shadow: -0.1px 0 #233142, 0 0.1px #233142, 0.1px 0 #233142, 0 -0.1px #233142;
    border: 2px solid #ffe030;
    background: #ffe030;
    color: #233142;
    opacity: 1;
  }
  &:first-child {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
  }
  h5 {
    margin: 0px;
    font-size: 16px;
  }
}

.category-choice:hover h5 {
    color: #233142;
    text-shadow: -0.5px 0 #ffe030, 0 0.5px #ffe030, 0.5px 0 #ffe030, 0 -0.5px #ffe030;
  }

.Shots {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
