.map-box {
  padding: 0px;
  text-align: center;
  width: 100px;
  i {
    color: #233142;
    text-shadow: none;
    margin-left: 40px;
  }
}

.distance-to-you {
  color: #233142;
  font-size:10px;
  margin: 0 auto;
  margin-left: -25px;
  margin-top: 35px;
}

