*, *:before, *:after {
  box-sizing: border-box;
}

.range-slider {
  border-radius: 10px;
  vertical-align: middle;
  height: 10px;
  padding: 20px 20px;
  padding-bottom: 30px;
  background-color: rgba(255,255,255,0.2);
  display: block;
  margin: 0 auto;
  width: 40%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: rgba(230,230,230,1);
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffe030;
  cursor: pointer;
  box-shadow: 0 0 2px #233142;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #233142;
  border: 1px solid #ffe030;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #233142;
  border: 1px solid #ffe030;
}
.range-slider__range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
  transition: 0.2s ease;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #ffe030;
}
.range-slider__range:active::-moz-range-thumb {
  background: #ffe030;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #ffe030;
}

.range-slider__value {
  background-color: rgba(255,255,255,0.2);
  text-align: center;
  padding-top: 8px;
  font-size: 25px;
  margin-top: 20px;
  display: inline-block;
  position: relative;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 40px;
  width: 100px;
}

.distance-home {
  font-size: 14px;
  margin-top: 9px;
  margin-left: 5px;
  word-spacing: 35px;
  color: rgba(240,240,240,1);
  i {
    font-size: 18px;
  }
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

#search-submit {
  box-shadow: 0 0 2px #ffe030;
  background-color: #ffe030;
  color: #233142;
  border: 3px solid #ffe030;
  margin-top: 20px;
  font-size: 28px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  -webkit-animation: pulse 2s infinite;
  &:hover {
    background-color: #f9db2f;
  }
}

#search-submit:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
   transform: (scale(.9));
  }
  70% {
    transform: (scale(1));
    box-shadow: 0 0 0 10px rgba(#5a99d4, 0);
  }
    100% {
    transform: (scale(.9));
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}

#within {
  letter-spacing: 1px;
  color: white;
}

