.weekly-deals-header {
  background-color: white;
  color: #233142;
  font-size: 62px;
  width: 375px;
  padding: 10px 0px;
  margin: 20px auto;
  margin-bottom: 40px;
}

.weekly-deals-wrapper {
  background-color: rgba(255,255,255,0.3);
  height: 500px;
  width: 100%;
}
